body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;

}
#buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
.operatorBtn{
    background-color: hsla(39, 100%, 50%, 0.5);
}
.operatorBtn:hover{
    background-color: hsla(39, 100%, 50%, 0.7);
}
.operatorBtn:active{
    background-color: hsla(39, 100%, 50%, 0.9);
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 50%);
}
button:active{
    background-color: hsl(0, 0%, 60%);
}
@media (max-width: 800px) {
    #calculator{
        max-width: 200px;
        max-height: 500px;
    }
    #display{
        padding: 10px;
        width: 89%;
        font-size: 2rem;
    }
    #buttons{
        padding: 5px;
    }
    button{
        width: 40px;
        height: 40px;
        font-size: 1.5rem;
    }
}